body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}

.neu-container {
    height: 100vh;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    overflow: hidden;
}

.box {
    width: 200px;
    height: 200px;
    background: blueviolet;
    box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    border-radius: 25px;
    margin: 50px;
    animation: boxMove 2s infinite alternate ease-in;
}

.inset-box {
    width: 200px;
    height: 200px;
    background: blueviolet;
    box-shadow: inset -3px -3px 15px #ffffff70, inset 3px 3px 15px #00000070;
    border-radius: 25px;
    margin: 50px;
    animation: insetBoxMove 2s infinite alternate ease-in;
}

.convex-box {
    width: 200px;
    height: 200px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
    box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    border-radius: 25px;
    margin: 50px;
    animation: covexBoxMove 2s infinite alternate ease-in;
}

.concave-box {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
    box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    border-radius: 25px;
    margin: 50px;
    animation: concaveBoxMove 2s infinite alternate-reverse ease-in;
}

.neu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    flex-wrap: wrap;
}

.heading {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 50px;
    text-transform: capitalize;
    animation: colorChange 2s infinite alternate ease-in;
}

@-webkit-keyframes boxMove {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: -1px -1px 5px #ffffff70, 1px 1px 5px #00000070;
    }
    100% {
        box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    }
}

@-webkit-keyframes insetBoxMove{
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: inset -1px -1px 5px #ffffff70, inset 1px 1px 5px #00000070;
    }
    100% {
        box-shadow: inset -3px -3px 15px #ffffff70, inset 3px 3px 15px #00000070;
    }
}

@-webkit-keyframes covexBoxMove {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: -1px -1px 5px #ffffff70, 1px 1px 5px #00000070;
    }
    100% {
        box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    }
}

@-webkit-keyframes concaveBoxMove {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: -1px -1px 5px #ffffff70, 1px 1px 5px #00000070;
    }
    100% {
        box-shadow: -3px -3px 15px #ffffff70, 3px 3px 15px #00000070;
    }
}

@-webkit-keyframes colorChange {
    0%{
        color: white;
    }
    50% {
        color: rgba(189, 134, 240, 0.665);
    }
    100% {
        color: white;
    }
}
